// Layer that wraps the skills inner content
.skills-block
	background:#f4f4f4;
	border-top:1px solid #E6EAEC;
	
// Content for the skills: list of 3 colums
.skills
	width:100%; 
	margin-bottom:2em;

	// <li>
	&-entry
		width:33.333%;
		display:inline-block;
		vertical-align:top;
		margin:0.3em 0;
		margin-right:-4px; 
		@media all and (max-width: mobileWidth)
			width:50%;
		@media all and (max-width: tabletWidth)
			width:50%;

		&-logo
			display:inline-block;
			margin-right:1em - 0.2em;
			width:40px;
			height:40px;
			img
				width:40px;
		&-text
			margin:0; 
			margin-right:1em;
			padding:0;
			display:inline-block;
			vertical-align:top;
			margin-top:10px; 

