extends layout

block content

	// Main header wallpaper with the background
	section.container.sectionHeader
		.container-int
			// Placed the content
			h2(class="bigHeader-logo-subtext", style="margin-top:10px;") Firefox OS Marketplace stadistics

	// Main header wallpaper with the background
	section.container#about
		.container-int

				p(style="text-align:center;") 
				p(style="text-align:center;") Number of installs: <strong>57.338</strong><br /><sup>Content updated: 2 November 2015</sup>
				// Placed the content
				img(src="/images/stats1.png", width="100%")
				img(src="/images/stats2.png", width="100%")

