extends layout

block content

	.loader

	// Menu
	.menuTop
		.menuTop-int
			.menuTop-logo
				a(href='/')
					span.menuTop-logo-image(title='Jorge Ferreiro')

			.menuTop-box
				ul.menuTop-languages
					li
						a(href="#", onclick="alert('Hi! Sorry, but the webpage is not avaliable yet in english. However, we recommend you to use the google translator. Sorry for the inconvenience :(');") <img src="assets/images/englishUSA_LONDON.svg" height="16px" /> <span>English?</span>


	// A container is the basic structure of the webpage.
	// Dicides the content in different blocks. Each container has a inner div, which allows you to place content respecting the webpage width Eg: 1000px

	// Main header wallpaper with the background
	section.container.bigHeader
		.container-int
			// Placed the content
			.bigHeader-logo
				a(href="/", title="Full stack Developer")
					span(class="bigHeader-logo-image", title="Jorge Ferreiro")
					h1(class="bigHeader-logo-text") Jorge Ferreiro
					h2(class="bigHeader-logo-subtext") Programador web full stack

	// Main header wallpaper with the background
	section.container#about
		.container-int
				// Placed the content
				.content-bio
					h3.subtitle ¿Quién soy yo?

					p.paragraph ¡Hola! Soy Jorge Ferreiro, <strong>programador</strong> full-stack y <strong>estudiante</strong> de Ingeniería Informática. Con el término Full-stack, me refiero a que puedo desarrollar tanto la parte visual de una web (frontend), como todo lo que hay detras: páginas, modelos, rutas, bases de datos... Lo que se conoce como backend, vaya.
					p.paragraph Trabajo como <strong>freelance</strong> diseñando páginas web, APIs y aplicaciones web desde cero. También puedo involucrarme a tiempo parcial. En mi tiempo libre (no mucho la verdad) produzco música y tomo fotografías.
					p.paragraph Soy autodidacta desde pequeño. Siempre me he buscado la vida para aprender una nueva tecnología, un lenguaje de programación o cualquier cosa. Las tres aptitudes que destaco son: capacidad de aprender, constancia y pasión por lo que hago. 
					p.paragraph Sí, ¡me gustan los retos y cumplir objetivos!.

	if(special)
		div(style="width:300px; height:150px; position:fixed; right:0; bottom:0; z-index:100;")
			script(type="text/javascript").
				alert("Hola! Esta es una versión especial de la web. No tendrás que LEER NADA, varios audio grabados con loquendo te narrarán todo mi contenido.")

			<iframe width="100%" height="150px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https://soundcloud.com/ferreirostartups/sets/segunda-version-de-los-textos&amp;auto_play=true&amp;hide_related=false&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

	section.container.skills-block
		.container-int
			h3.subtitle Skills y conocimientos

			ul.skills
				li.skills-entry
					span.skills-entry-logo
						img(src="assets/icons/javascript.svg", width="40px", title="Programador freelance Javascript", alt="Javascript")
					p.skills-entry-text
						a(href="https://es.wikipedia.org/wiki/JavaScript", target="_blank") Javascript

				li.skills-entry
					span.skills-entry-logo
						img(src="assets/icons/node.png", width="40px", title="Programador freelance Node.js", alt="Node.js")
					p.skills-entry-text
						a(href="https://es.wikipedia.org/wiki/Node.js", target="_blank") Node.js

				li.skills-entry
					span.skills-entry-logo 
						img(src="assets/icons/python.png", title="Programador freelance Python", alt="Programador freelance Python")
					p.skills-entry-text
						a(href="https://es.wikipedia.org/wiki/Python", target="_blank") Python
					
				li.skills-entry
					span.skills-entry-logo 
						img(src="assets/icons/html5.svg", title="Programador freelance HTML5", alt="HTML5")
					p.skills-entry-text
						a(href="https://es.wikipedia.org/wiki/HTML5", target="_blank") HTML5
					
				li.skills-entry
					span.skills-entry-logo
						img(src="assets/icons/css3.svg", title="Diseñador freelance CSS3", alt="CSS3")
					p.skills-entry-text
						a(href="https://es.wikipedia.org/wiki/Hoja_de_estilos_en_cascada#CSS3", target="_blank") CSS3

				li.skills-entry
					span.skills-entry-logo 
						img(src="assets/icons/saas.svg", title="Preprocesadores CSS3: less.js, stylus y saas", alt="HTML5")
					p.skills-entry-text
						a(href="http://apuntesalmargen.com/beneficios-de-los-pre-procesadores-de-css.html", target="_blank") Less, stylus &amp; saas.
					
				li.skills-entry
					span.skills-entry-logo
						img(src="assets/icons/bash.png", title="Programador freelance en bash", alt="Bash")
					p.skills-entry-text
						a(href="https://es.wikipedia.org/wiki/Bash", target="_blank") Bash

				li.skills-entry
					span.skills-entry-logo
						img(src="assets/icons/git.png", title="GIT", alt="GIT")
					p.skills-entry-text
						a(href="https://es.wikipedia.org/wiki/Git", target="_blank") Git
			

			div(style="position:relative;")#skillsExplanation
				p.paragraph En el <strong><u>frontend</u></strong> utilizo HTML5, javascript y CSS3. También less.js, stylus o saas como pre-procesares de estilos y jade.js para generación de vistas.
				p.paragraph Para el <strong><u>backend</u></strong>, programo en javascript del lado del servidor (aka. <a href="http://hipertextual.com/archivo/2014/04/nodejs-javascript-servidor/" target="_blank">NODE.JS</a>). He programado bastante en c++ y java, pero no son lenguajes que a día de hoy trabaje.
				p.paragraph <b>¿Qué estoy aprendiendo?</b> Angular.js y profundizando en NoSQL.
				// a(href="#projects").close#goProjects OK! Sigamos

	section#projects.container
		.container-int

			.content-bio
				h3.subtitle Proyectos personales
				p.paragraph Cuando tengo ideas, me encanta hacerlas realidad. Aquí te iré poniendo nuevos proyectos que vaya sacando o en los que esté involucrado con otros colegas.

				ul.projects
					li.projects-entry
						.projects-entry-int
							.projects-entry-logo
								a(href="http://www.music4deejays.com", target="_blank")
									img(src="assets/images/m4d.jpg")
							
							h3.projects-entry-title
								a(href="http://www.music4deejays.com", target="_blank") Music4deejays
							h4.projects-entry-subtitle CTO/Founder 
							p.projects-entry-date May 2014-Oct 2015 (1 año y 6 meses)
							p.projects-entry-info Promocionamos a músicos y artistas con  talento para convertirles en números uno y darles su oportunidad.
							a.projects-entry-link(href="http://www.music4deejays.com", target="_blank") Ver proyecto


	section#contact.container.contact
		.container-int

			.contactBox
				.contactBox-rounds
					.contactBox-rounds-box(style="background-color:rgba(179, 130, 76, 0.8);")
						<img src="assets/icons/coffee.svg">
					.contactBox-rounds-box
						<img src="assets/icons/skype.svg">
				
			.messageSent#messageSuccess
				// .whiteBackground
				p <span id="userName"></span> Tu mensaje ha sido enviado con éxito. Te respondo en cuanto pueda a tu correo <span id="userMail"></span>

			#formLoader
				.contactLoader

			.contact-form(style="display:none;")#contactForm
				
				// h1 Tu por aquí, ¡Qué alegría!
				p(style="margin-bottom:1em;") ¡Genial!, te cuento. Puedes elegir una fecha que te venga bien para hablar por skype o si estás por madrid (o planeas venir), elegir la opción de tomar algo. Cuando envíes el formulario te responderé concretando el encuentro ¡Hasta ahora!

				.messageSent.messageSent-warning#messageFailure(style="margin-bottom:2em;")
					// .whiteBackground
					p Tu mensaje no se ha enviado. Intentalo de nuevo. Si el error persiste, por favor escribeme a <a href="#" onclick="alert('Puedes contactarme en esta dirección: me@jgferreiro.com ¡Tengo ganas de leer tu mail!'); return false;">Mostrar mail</a>

				form(action='/contact', method='post')
					
					fieldset.contactFieldset
						// legend Nombre * (obligatorio, al menos 2 caracteres)
						label(for="the_name").contactFieldset-label Nombre
						input(type='name', id='the_name', name='name', placeholder='¿Cómo te llamas?').contactFieldset-input
					
					fieldset.contactFieldset
						// legend Email * (te responderé a esta dirección)
						label(for="email").contactFieldset-label  Email
						input(type='name', id='email', name='email', placeholder='¿Cual es tu email?', required).contactFieldset-input

					fieldset.contactFieldset
						// legend ¿Qué día te viene bien? (Ejemplo 16 de Abril)
						label(for="day").contactFieldset-label  Día
						select(name="day", id="day", required).contactFieldset-select
							option(value='01') 01
							option(value='02') 02
							option(value='03') 03
							option(value='04') 04
							option(value='05') 05
							option(value='06') 06
							option(value='07') 07
							option(value='08') 08
							option(value='09') 09
							option(value='10') 10
							option(value='11') 11
							option(value='12') 12
							option(value='13') 13
							option(value='14') 14
							option(value='15') 15
							option(value='16') 16
							option(value='17') 17
							option(value='18') 18
							option(value='19') 19
							option(value='20') 20
							option(value='21') 21
							option(value='22') 22
							option(value='23') 23
							option(value='24') 24
							option(value='25') 25
							option(value='26') 26
							option(value='27') 27
							option(value='28') 28
							option(value='29') 29
							option(value='30') 30
							option(value='31') 31

						select(name="month", required).contactFieldset-select
							option(value='January') Enero
							option(value='February') Febrero
							option(value='March') Marzo
							option(value='April') Abril
							option(value='May') Mayo
							option(value='June') Junio
							option(value='July') Julio
							option(value='August') Agosto
							option(value='September') Septiembre
							option(value='October') Octubre
							option(value='November') Noviembre
							option(value='December') Diciembre
						
						select(name="year", style="margin-right:0;", required).contactFieldset-select
							option(value='2015') 2015
							option(value='2016') 2016


					fieldset.contactFieldset
						// legend Elige una hora
						label(for="time").contactFieldset-label  Hora
						select(name="time", id="time", required).contactFieldset-select.contactFieldset-unified
							option(value="--:--") --:--
							option(value="20:30") 20:30
							option(value="21:00") 21:00
							option(value="Otra") ¿Puede ser en otro momento?

					fieldset.contactFieldset
						label(for="plan").contactFieldset-label Plan
						select(name="plan", id="plan", required).contactFieldset-select.contactFieldset-unified
							option(value="skype") Skype/Hangouts
							option(value="coffe") Tomar algo en madrid

					fieldset.contactFieldset(style="text-align:center;")
						input(type="submit", value="¡Mandarlo!").contactFieldset-submit

			div#initialContactLayer
				p Llegados a este punto, solo me queda decirte <b>dos cosas</b>... La primera, darte las <b>gracias</b> por visitar mi web. La segunda, invitarte a conectarnos. Ya sea porque tienes un proyecto, buscas freelance o te molaría compartir algo. Elige una de las dos opciones, ¡hasta ahora!

				.contactBox-coffeSkype
					a(href="#", class="contactBox-coffeSkype-coffee").open-contactForm
						p <!-- Texts are placed via :before on css -->
					span o
					a(href="#", class="contactBox-coffeSkype-skype").open-contactForm
						p <!-- Texts are placed via :before on css -->

