doctype html
html
	head

		meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(charset="utf-8")
		
		title= title
		meta(name="description", content="#{description}")
		meta(name="author", content="Jorge Ferreiro")

		link(rel="apple-touch-icon", sizes="57x57  ", href="assets/images/favicons/apple-icon-57x57.png")
		link(rel="apple-touch-icon", sizes="60x60  ", href="assets/images/favicons/apple-icon-60x60.png")
		link(rel="apple-touch-icon", sizes="72x72  ", href="assets/images/favicons/apple-icon-72x72.png")
		link(rel="apple-touch-icon", sizes="76x76  ", href="assets/images/favicons/apple-icon-76x76.png")
		link(rel="apple-touch-icon", sizes="114x114", href="assets/images/favicons/apple-icon-114x114.png")
		link(rel="apple-touch-icon", sizes="120x120", href="assets/images/favicons/apple-icon-120x120.png")
		link(rel="apple-touch-icon", sizes="144x144", href="assets/images/favicons/apple-icon-144x144.png")
		link(rel="apple-touch-icon", sizes="152x152", href="assets/images/favicons/apple-icon-152x152.png")
		link(rel="apple-touch-icon", sizes="180x180", href="assets/images/favicons/apple-icon-180x180.png")
		link(rel="icon", type="image/png", sizes="192x192", href="assets/images/favicons/android-icon-192x192.png")
		link(rel="icon", type="image/png", sizes="32x32", href="assets/images/favicons/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="96x96", href="assets/images/favicons/favicon-96x96.png")
		link(rel="icon", type="image/png", sizes="16x16", href="assets/images/favicons/favicon-16x16.png")
		link(rel="manifest", href="assets/images/favicons/manifest.json")
		
		meta(name="msapplication-TileColor", content="#ffffff")
		meta(name="msapplication-TileImage", content="assets/images/favicons/ms-icon-144x144.png")
		meta(name="theme-color", content="#ffffff")
		
		link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Lora|Lato|Martel|Kadwa', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/styles.css")

		if page == "university"
			link(rel="stylesheet", href="css/university.css")

	body
		.mobile-wrapper

			.loader

			if page != "index"
				// Menu
				.menuTop#fixedHeader
					.menuTop-int
						.menuTop-logo
							a(href='/')
								span.menuTop-logo-image(title='Jorge Ferreiro')

						.menuTop-box
							ul.menuTop-languages
								// li
									a(href="#", onclick="alert('Hola! Lo siento, pero de momento la web solo está disponible en inglés. Puedes usar el traductor de google o directamente escribirme un correo a me@jgferreiro.com si quieres que hablemos. Un saludo:(');") 
										// <img src="assets/images/spanish.svg" height="16px" />
										<span>¿Español?</span>
								li
									a(href="/") 
										<span>Contact me</span>

			block content

			footer.footer
				.footer-int 
					// .footer-left 
					// p.footer-text &copy; 2015 Jorge Ferreiro
					.footer-right(style="width:100%; text-align:center;")
						p.footer-link
							a(href="http://twitter.com/jgferreiro", target="_blank") Twitter
						p.footer-link
							a(href="http://github.com/ferreiro", target="_blank") Github
						p.footer-link
							a(href="#", onclick="alert('me@jgferreiro.com'); return false;") Show mail
					.footer-middle
						h5 Made by Jorge Ferreiro

		script(src="http://code.jquery.com/jquery-1.11.3.min.js")
		script(src="js/menu.js")
		script(src="js/fixedHeader.js")
		script(src="js/scripts.js")
		script(src="js/contactForm.js")

		script(type="text/javascript").
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-67799918-1', 'auto');
			ga('send', 'pageview');

		script(type="text/javascript").  
			$(window).load(function() {
			      $('.loader').delay('300').fadeOut('2000');
			});
