extends layout

block content

	.loader

	// Menu
	.menuTop
		.menuTop-int
			.menuTop-logo
				a(href='/')
					span.menuTop-logo-image(title='Jorge Ferreiro')

			.menuTop-box
				ul.menuTop-languages
					li
						a(href="#", onclick="alert('Hi! Sorry, but the webpage is not avaliable yet in english. However, we recommend you to use the google translator. Sorry for the inconvenience :(');") <img src="assets/images/englishUSA_LONDON.svg" height="16px" /> <span>English?</span>

	// Main header wallpaper with the background
	section.container.bigHeader(style="height:50px; overflow:hidden;")
		.container-int
			// Placed the content
			.bigHeader-logo
				a(href="/", title="Full stack Developer")
					h2(class="bigHeader-logo-subtext") University program

	// Main header wallpaper with the background
	section.container#about
		.container-int

				// Placed the content

				p explicar que hay estoy en el itinerario de computación.
					| Poner enlace al diptico (avisar que está en español).
					| Incluir aviso para las fichas docentes. "course sillabous"

				.course

					h3.subtitle First year (2013-2014)
					// p.paragraph <b> Basic subjects</b>

					ul.course-subjects

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title 

								| Fundamentals of Programming
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=223", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Introduction to computers
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=224", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Mathematical methods for engineering
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=221", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Discrete Mathematics and Mathematical Logic 
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=222", target="_blank").course-subjects-entry-link

						li.course-subjects-entry

							span.course-subjects-entry-tags.english-tag English course
							p.course-subjects-entry-title

								| Business Management
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=219", target="_blank").course-subjects-entry-link

						li.course-subjects-entry

							span.course-subjects-entry-tags.english-tag English course
							p.course-subjects-entry-title

								| Introduction to electricity and electronics 
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=220", target="_blank").course-subjects-entry-link

				.course
					h3.subtitle Second year (2014-2015)

					ul
						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Computer Programming Technology
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=424", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Computer Organization
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=422", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Data structures and algorithms
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=423", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Technology and Organization of Computer Systems
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=412", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Software Engineering
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=425", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Advanced Mathematics
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=413", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Probability and Statistics
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=414", target="_blank").course-subjects-entry-link


					// p.paragraph <b>Computational itinerary subjects</b>

					ul
						li.course-subjects-entry
							span.course-subjects-entry-tags.spanish-tag Spanish course
							p.course-subjects-entry-title

								| Foundations of computer languages
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=415", target="_blank").course-subjects-entry-link

				.course
					h3.subtitle Third year (2015-2016)
					// p.paragraph <b> Mandatory subjects</b>

					ul
						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Operating Systems
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=716", target="_blank").course-subjects-entry-link
						
						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Databases
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=718", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Computer networks
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=717", target="_blank").course-subjects-entry-link
 
						li.course-subjects-entry
							span.course-subjects-entry-tags.spanish-tag Spanish course
							p.course-subjects-entry-title Concurrent Programming
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=711", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.spanish-tag Spanish course
							p.course-subjects-entry-title Declarative Programming
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=712", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.spanish-tag Spanish course
							p.course-subjects-entry-title Algorithmic Methods for Solving Problems
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=713", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.spanish-tag Spanish course
							p.course-subjects-entry-title Artificial Intelligence
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=714", target="_blank").course-subjects-entry-link
								
					// p.paragraph <b> Computational itinerary subjects</b> 


					p.paragraph <b> Free choice subjects</b>
					ul

						li.course-subjects-entry
							span.course-subjects-entry-tags.spanish-tag Spanish course
							p.course-subjects-entry-title Data Mining and Big Data paradigm
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=776", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.spanish-tag Spanish course
							p.course-subjects-entry-title Web Information Management
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=778", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.spanish-tag Spanish course
							p.course-subjects-entry-title Computer Networks Security <i>(attending as a listener)</i>
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=778", target="_blank").course-subjects-entry-link


				.course#notCoursing
					h3.subtitle Forth year (2016-2017)
					// p.paragraph <b> Mandatory subjects</b>

					ul
						//li.course-subjects-entry
						//	span.course-subjects-entry-tags.english-tag English course 
						//	p.course-subjects-entry-title

						//		| Ethics, Legislation and Profession

						//		a(href="#", title="Link is not avaliable yet", target="_blank").course-subjects-entry-link
						
						//li.course-subjects-entry
						//	span.course-subjects-entry-tags.english-tag English course 
						//	p.course-subjects-entry-title

						//		| Computer Architecture

						//		a(href="#", title="Link is not avaliable yet", target="_blank").course-subjects-entry-link
						
						//li.course-subjects-entry
						//	span.course-subjects-entry-tags.english-tag English course 
						//	p.course-subjects-entry-title

						//		| Ampliation of Operating Systems and Networks

						//		a(href="#", title="Link is not avaliable yet" target="_blank").course-subjects-entry-link
						



