extends layout

block content

	.loader

	// Menu
	.menuTop
		.menuTop-int
			.menuTop-logo(style="display:block !important;")
				a(href='/')
					span.menuTop-logo-image(title='Jorge Ferreiro')

			.menuTop-box
				ul.menuTop-languages
					li
						a(href="#", onclick="alert('Hi! Sorry, but the webpage is not avaliable yet in english. However, we recommend you to use the google translator. Sorry for the inconvenience :(');") <img src="assets/images/englishUSA_LONDON.svg" height="16px" /> <span>English?</span>

	// Main header wallpaper with the background
	section.container.bigHeader(style="height:50px; overflow:hidden;")
		.container-int
			// Placed the content
			.bigHeader-logo
				a(href="/", title="Full stack Developer")
					h2(class="bigHeader-logo-subtext") University program


	// Main header wallpaper with the background
	section.container#about
		.container-int

				// Placed the content

				p explicar que hay estoy en el itinerario de computación.
					| Poner enlace al diptico (avisar que está en español).
					| Incluir aviso para las fichas docentes. "course sillabous"

				.content-bio

					h3.subtitle First year (2013-2014)
					p.paragraph <b> Mandatory subjects</b>

					ul.course-subjects

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title 

								| Fundamentals of Programming
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=223", target="_blank") Course sillabous

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Introduction to computers
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=224", target="_blank") Course sillabous

						li.course-subjects-entry
							
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Mathematical methods for engineering
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=221", target="_blank") Course sillabous

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								|Discrete Mathematics and Mathematical Logic 
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=222", target="_blank") Course sillabous

						li.course-subjects-entry

							span.course-subjects-entry-tags.english-tag English course
							p.course-subjects-entry-title

								| Business Management
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=219", target="_blank") Course sillabous

						li.course-subjects-entry

							span.course-subjects-entry-tags.english-tag English course
							p.course-subjects-entry-title

								| Introduction to the concepts of electricity and electronics 
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=220", target="_blank") Course sillabous



				.content-bio
					h3.subtitle Second year (2014-2015)

					p.paragraph <b> Mandatory subjects</b>
					ul
						li.course-subjects-entry
							p.course-subjects-entry-title Fundamentals of Programming 
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=223", target="_blank") Course sillabous

					p.paragraph <b> Computational itinerary subjects</b>
					ul
						
						li.course-subjects-entry

							span.course-subjects-entry-tags.spanish-tag Spanish course
							p.course-subjects-entry-title

								| Foundations of computer languages
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=218", target="_blank") Course sillabous


					p.paragraph <b> Free choice subjects</b>
					ul

						li.course-subjects-entry

							span.course-subjects-entry-tags.spanish-tag Spanish course
							p.course-subjects-entry-title

								| Foundations of computer languages
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=218", target="_blank") Course sillabous


				.content-bio
					h3.subtitle Third year (2015-2016)
					p.paragraph <b> Mandatory subjects</b>

					ul
						li.course-subjects-entry
							span.course-subjects-entry-tags.spanish-tag Spanish course
							p.course-subjects-entry-title Name
								a(href="", target="_blank") Course sillabous

					p.paragraph <b> Computational itinerary subjects</b>
					ul
						
						li.course-subjects-entry
							span.course-subjects-entry-tags.spanish-tag Spanish course
							p.course-subjects-entry-title Name
								a(href="", target="_blank") Course sillabous


					p.paragraph <b> Free choice subjects</b>
					ul

						li.course-subjects-entry
							span.course-subjects-entry-tags.spanish-tag Spanish course
							p.course-subjects-entry-title Name
								a(href="", target="_blank") Course sillabous



