extends layout

block content

	// Main header wallpaper with the background
	section.container.sectionHeader
		.container-int
			// Placed the content
			h2(class="bigHeader-logo-subtext", style="margin-top:10px;") University program

	// Main header wallpaper with the background
	section.container#about
		.container-int

				// Placed the content

				p I'm attending course <strong>3</strong> out 4 on <strong>computer engineering</strong> at <strong>UCM</strong> (Universidad Complutense de Madrid: ucm.es). My itinerary is called "Tecnología Específica de Computación" (Computation). My degree is bilingual so subjects are taugh in english and spanish. See <u><a href="https://www.ucm.es/data/cont/docs/titulaciones/49.pdf" target="_blank">diptic</a></u> (in spanish) for more information.

				p.course-advise
					span.course-advise-close#closeSillabousAlert ok
					| Please, take into account that "Course sillabous" are written mainly in spanish but there's also an english translation in the same file. Scroll down until you find "Programa detallado en inglés" to see the english version of the program.

				.course

					h3.subtitle First year <span>(October 2013 - June 2014)</span>
					// p.paragraph <b> Basic subjects</b>

					ul.course-subjects

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title 

								| Fundamentals of Programming
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=223", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Introduction to computers
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=224", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Mathematical methods for engineering
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=221", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Discrete Mathematics and Mathematical Logic 
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=222", target="_blank").course-subjects-entry-link

						li.course-subjects-entry

							span.course-subjects-entry-tags.english-tag English course
							p.course-subjects-entry-title

								| Business Management
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=219", target="_blank").course-subjects-entry-link

						li.course-subjects-entry

							span.course-subjects-entry-tags.english-tag English course
							p.course-subjects-entry-title

								| Introduction to electricity and electronics 
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=220", target="_blank").course-subjects-entry-link

				.course
					h3.subtitle Second year <span>(October 2014 - June 2015)</span>

					ul
						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Computer Programming Technology
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=424", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Computer Organization
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=422", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Data structures and algorithms
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=423", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Technology and Organization of Computer Systems
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=412", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Software Engineering
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=425", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Advanced Mathematics
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=413", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Probability and Statistics
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=414", target="_blank").course-subjects-entry-link


					// p.paragraph <b>Computational itinerary subjects</b>

					ul
						li.course-subjects-entry
							span.course-subjects-entry-tags.spanish-tag Spanish course
							p.course-subjects-entry-title

								| Foundations of computer languages
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=415", target="_blank").course-subjects-entry-link

				.course
					h3.subtitle Third year <span>(October 2015 - June 2016)</span>
					// p.paragraph <b> Mandatory subjects</b>

					ul
						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Operating Systems
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=716", target="_blank").course-subjects-entry-link
						
						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Databases
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=718", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title

								| Computer networks
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=717", target="_blank").course-subjects-entry-link
 
						li.course-subjects-entry
							span.course-subjects-entry-tags.spanish-tag Spanish course
							p.course-subjects-entry-title Concurrent Programming
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=711", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.spanish-tag Spanish course
							p.course-subjects-entry-title Declarative Programming
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=712", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.spanish-tag Spanish course
							p.course-subjects-entry-title Algorithmic Methods for Solving Problems
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=713", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.spanish-tag Spanish course
							p.course-subjects-entry-title Artificial Intelligence
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=714", target="_blank").course-subjects-entry-link
								
					// p.paragraph <b> Computational itinerary subjects</b> 


					p.paragraph <b>Free choice subjects</b>
					ul

						li.course-subjects-entry
							span.course-subjects-entry-tags.spanish-tag Spanish course
							p.course-subjects-entry-title Data Mining and Big Data paradigm
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=776", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.spanish-tag Spanish course
							p.course-subjects-entry-title Web Information Management
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=778", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.spanish-tag Spanish course
							p.course-subjects-entry-title Computer Networks Security <i>(attending as a listener)</i>
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=778", target="_blank").course-subjects-entry-link


				.course

					h3.subtitle Forth year (October 2016 - June 2017)
					
					p Take into account that Course Sillabous and subjects information for "2015-2016 course" is <b>not avaliable yet</b> (Last checked: November 2015). This information will be updated when my university upload it (normally in july of 2016).
					
					p If I finally go to an erasmus, will update this information.

					ul.course-subjects

						#notCoursing
							span Coursing next year

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title
								| Computer Architecture *
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=708", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title
								| Ampliation of Operating Systems and Networks *
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=709", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.english-tag English course 
							p.course-subjects-entry-title
								| Ethics, Legislation and Profession *
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=715", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.spanish-tag Spanish course
							p.course-subjects-entry-title Language Processors
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=710", target="_blank").course-subjects-entry-link

						li.course-subjects-entry
							span.course-subjects-entry-tags.spanish-tag Spanish course
							p.course-subjects-entry-title Interactive Systems Development
								a(href="http://www.fdi.ucm.es/Pub/ImpresoFichaDocente.aspx?Id=745", target="_blank").course-subjects-entry-link

						p.paragraph <b>Free choice subjects</b>
						p.paragraph I have to choose 4 subjetcs. Not decided yet until finishing current course (3). Will update this field by July 2016.
