// Contact
.contact
	background:#fff;
	background:#E6EAEC;
	background:rgba(244, 141, 101, 0.65);	
	border-top:1px solid #E6EAEC;
	background transparent
	background:#f4f4f4;
	padding 3em 0
	&Box
		&-rounds
			width:100%;
			display:inline-block;
			text-align:center;
			margin-bottom:1em;
			&-box
				width:100px;
				height:100px;
				background:rgba(0,65,126,0.5);
				background:rgba(179, 53, 53, 0.8);
				display:inline-block;
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				border-radius: 100%;
				text-align:center;
				margin:0 -0.6em;
				img
					width:50%;
					margin-top:1.4em;
					color:#fff;
		&-coffeSkype
			width:100%; 
			margin-top:2em;
			vertical-align:top;
			
			&-coffee
				background-color:rgba(179, 130, 76, 0.8);
				p:before
					content:'¿Eres más de tomar algo...?';
				&:hover 
					background-color:rgba(179, 130, 76, 0.8);
					p:before
						content:'Soy más de tomar algo...';

			&-skype
				background:rgba(179, 53, 53, 0.8);
				p:before
					content:'¿...O te va más el rollo skype?';
				&:hover 
					background:rgba(179, 53, 53, 0.8);
					p:before
						content:'...me va más el rollo skype';

			a 
				width:47%; 
				@media all and (max-width: desktopWidth)
					width:100%;
					margin-bottom 1.5em
					&:last-child
						margin-bottom 0
				height:100%;
				display:inline-block;
				vertical-align:top;
				text-align:center;
				
				text-decoration:none;
				
				color:#fff;
				
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px; 
				
				-ms-transform: scale(1,1); /* IE 9 */
				-webkit-transform: scale(1,1); /* Safari */
				transform: scale(1,1); 
				
				-webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0 */
				transition: all 0.3s;
				
				&:hover
					-ms-transform: scale(1.2,1.2); /* IE 9 */
					-webkit-transform: scale(1.2,1.2); /* Safari */
					transform: scale(1.2,1.2);
				p
					margin-top:1.6em;
					color:#fff;
					
			span
				width:4.5%;
				@media all and (max-width: desktopWidth - 1px)
					display none
				display:inline-block;
				vertical-align:top;
				font-family:arial;
				margin-top:1.6em;
				text-align:center;
				color:rgba(0,0,0,.3);