.contact {
  background: #fff;
  background: #e6eaec;
  background: rgba(244,141,101,0.65);
  border-top: 1px solid #e6eaec;
  background: transparent;
  background: #f4f4f4;
  padding: 3em 0;
}
.contactBox-rounds {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-bottom: 1em;
}
.contactBox-rounds-box {
  width: 100px;
  height: 100px;
  background: rgba(0,65,126,0.5);
  background: rgba(179,53,53,0.8);
  display: inline-block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  margin: 0 -0.6em;
}
.contactBox-rounds-box img {
  width: 50%;
  margin-top: 1.4em;
  color: #fff;
}
.contactBox-coffeSkype {
  width: 100%;
  margin-top: 2em;
  vertical-align: top;
}
.contactBox-coffeSkype-coffee {
  background-color: rgba(179,130,76,0.8);
}
.contactBox-coffeSkype-coffee p:before {
  content: '¿Eres más de tomar algo...?';
}
.contactBox-coffeSkype-coffee:hover {
  background-color: rgba(179,130,76,0.8);
}
.contactBox-coffeSkype-coffee:hover p:before {
  content: 'Soy más de tomar algo...';
}
.contactBox-coffeSkype-skype {
  background: rgba(179,53,53,0.8);
}
.contactBox-coffeSkype-skype p:before {
  content: '¿...O te va más el rollo skype?';
}
.contactBox-coffeSkype-skype:hover {
  background: rgba(179,53,53,0.8);
}
.contactBox-coffeSkype-skype:hover p:before {
  content: '...me va más el rollo skype';
}
.contactBox-coffeSkype a {
  width: 47%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -ms-transform: scale(1, 1); /* IE 9 */
  -webkit-transform: scale(1, 1); /* Safari */
  transform: scale(1, 1);
  -webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0 */
  transition: all 0.3s;
}
@media all and (max-width: desktopWidth) {
  .contactBox-coffeSkype a {
    width: 100%;
    margin-bottom: 1.5em;
  }
  .contactBox-coffeSkype a:last-child {
    margin-bottom: 0;
  }
}
.contactBox-coffeSkype a:hover {
  -ms-transform: scale(1.2, 1.2); /* IE 9 */
  -webkit-transform: scale(1.2, 1.2); /* Safari */
  transform: scale(1.2, 1.2);
}
.contactBox-coffeSkype a p {
  margin-top: 1.6em;
  color: #fff;
}
.contactBox-coffeSkype span {
  width: 4.5%;
  display: inline-block;
  vertical-align: top;
  font-family: arial;
  margin-top: 1.6em;
  text-align: center;
  color: rgba(0,0,0,0.3);
}
@media all and (max-width: desktopWidth -1px) {
  .contactBox-coffeSkype span {
    display: none;
  }
}
.messageSent {
  background: #539a53;
  width: 100%;
  text-align: center;
  display: none;
  z-index: 200;
  padding: 1em 0;
  margin-top: 1.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.messageSent-warning {
  background: #e81f1f;
}
.messageSent .whiteBackground {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  content: '';
  background: rgba(255,255,255,0.6);
}
.messageSent p {
  margin: 0 1.5em;
  color: #fff;
}
#formLoader {
  display: none;
}
.contactLoader {
  width: 100%;
  height: 100px;
  background: url("../icons/loading.svg");
  background-repeat: no-repeat;
  background-size: 60px auto;
  background-position: 50% 50%;
  z-index: 1000;
}
.contactFieldset {
  width: 100%;
  position: relative;
  margin-bottom: 1em;
  padding: 0;
  border: 0;
}
.contactFieldset-label {
  width: 100px;
  display: inline-block;
  text-align: left;
  float: left;
}
.contactFieldset-input {
  padding: 0.5em 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  outline: 0;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.contactFieldset-input-error {
  border: 1px solid #f00;
}
@media all and (max-width: desktopWidth) {
  .contactFieldset-input {
    padding-left: 0;
    text-indent: 20px;
    padding-right: 0;
    width: 100% !important;
  }
}
@media all and (min-width: tabletWidth) {
  .contactFieldset-input {
    width: 400px !important;
  }
}
@media all and (min-width: desktopWidth) {
  .contactFieldset-input {
    width: 600px !important;
  }
}
.contactFieldset-input:focus {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(50,50,50,0.4);
  -moz-box-shadow: 0px 0px 3px 0px rgba(50,50,50,0.4);
  box-shadow: 0px 0px 3px 0px rgba(50,50,50,0.4);
}
.contactFieldset-unified {
  min-width: 300px;
}
@media all and (min-width: desktopWidth) {
  .contactFieldset-unified {
    width: 635px !important;
    margin-right: 0 !important;
  }
}
.contactFieldset-select {
  margin-right: 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
  border: 0;
  background: #fff;
}
@media all and (max-width: tabletWidth) {
  .contactFieldset-select {
    padding-left: 0;
    text-indent: 20px;
    padding-right: 0;
    margin-bottom: 1em;
    width: 100% !important;
  }
}
@media all and (min-width: desktopWidth) {
  .contactFieldset-select {
    width: 200px;
    height: 48px;
    text-indent: 15px;
  }
}
.contactFieldset-select:focus {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(50,50,50,0.4);
  -moz-box-shadow: 0px 0px 3px 0px rgba(50,50,50,0.4);
  box-shadow: 0px 0px 3px 0px rgba(50,50,50,0.4);
}
.contactFieldset-submit {
  border: 0;
  color: #fff;
  background: #b33538;
  padding: 0.5em 1.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: 1.5em;
  outline: 0;
}
.contactFieldset-submit:hover {
  background: #ca4548;
}
.contactFieldset-submit:focus {
  background: #9c292c;
}
