.footer
	&-left
		display:inline-block;
	&-right
		float:right;
		p
			display inline-block
			margin-left:1em;
	&-middle
		width:100%;
		border-top:1px solid #EAEAEA;
		text-align:center;
		display:inline-block;