.menuTop-navup {
  top:-75px !important;
}.menuTop-down {
  top:0 !important;
}

.menuTop
   width: 100%;
   padding:0;
   background: rgba(255,255,255,0.9);
   height: 75px; 
   position: fixed;
   z-index: 100;
   rigth:0;
   top:0;
   transition: top 0.2s ease-in-out;

   &-int
      margin:0; 
      position:relative;
      height:100%; 
      text-align: right; 

   // Basic box for new elements
   &-box
      display: inline-block;
      height: 75px;

   // Hidden until header dissapeared
   &-logo
      width:200px;
      height:75px;
      margin:0 auto;
      position:absolute;
      display:none;
      left:0;
      // left:50%;
      // -webkit-transform: translateX(-50%);
      // -ms-transform: translateX(-50%);
      // transform: translateX(-50%);

      &-image 
        height: 50px;
        margin-top:0.7em;

        @media all and (min-width: tabletWidth)
          height: 48px; 
          margin-top:0.8em;
        @media all and (min-width: desktopWidth)
          height: 60px;
          margin-top:0.5em;

        display: block;
        background: rgba(255, 255, 255, 0.5);
        background:url(../images/logo.png);
        background-size:100% auto;
        background-repeat:no-repeat;
        background-position:50% 50%;
      &-text
        // This is only for SEO
        display: none;
      &-subtext
        font-size: 1em;
        line-height: 1em;


      &-shown
        background:red;
        display:block !important; 

   // contact button
   &-contact
      float:left;
      margin-left:1em;
      padding:1.3em 1em;
      margin-top:0.65em;
      -webkit-box-shadow: inset 0px 0px 0px 3px rgba(219,219,219,1);
      -moz-box-shadow: inset 0px 0px 0px 3px rgba(219,219,219,1);
      box-shadow: inset 0px 0px 0px 3px rgba(219,219,219,1);
      -webkit-border-radius: 60px;
      -moz-border-radius: 60px;
      border-radius: 60px;
      @media all and (max-width:tabletWidth)
        display:none;
      p
         line-height:0;
         margin:0;
         padding:0;
         margin-top:5px;

   &-languages
      margin:0;
      padding:0;
      display:block; 
      li
         float:left;
         margin-left:0.5em;
         a
            padding:1.5em 0;
            padding-bottom:1.2em;
            display:block;
            img
                height:16px;
                margin-right:10px;

   // Mobile menu button
   &-button
      width: 35px;
      height: 75px;
      z-index: 30;  
      display: inline-block;
      cursor: pointer;  
      padding-left:1em;
      background-size:40px auto;
      background-position:100% 50%;
      background-repeat:no-repeat;
      background-image: url(../icons/menu.svg);
      z-index:1000;
      position:relative;




.menu {
   background: rgba(41,128,185,1);
   background: #DCE3E8;
   // padding-right: .25em;
   position: fixed;
   right: -18em;
   // left: 0; // Only for debugging
   top: 0;
   padding-top: 75px;
   box-sizing: border-box;
   z-index: 20;
   height: 100%;
   -webkit-transition: all .3s;
   -o-transition: all .3s;
   transition: all .3s;

}
.menu.active { right: 0; }

.menu ul { 
   width: 240px;
   margin: 0;
   padding: 0;
   list-style: none;
   margin: auto;
   /*outline: 1px solid red;*/
   padding-left: 0; 
} 
.menu ul li {
   margin: 0;
   padding: 0;
}
.menu ul li {
   box-shadow: 3px 0 rgba(52,152,219,.2) inset;
   margin-bottom: 5px;
   padding-left: .5em;
   -webkit-transition: all .5s;
   -o-transition: all .5s;
   transition: all .5s;/*outline: 1px solid green*/
}
.menu ul li a {
   width: 100%;
   background: url(menu.svg) no-repeat left top;
   color: #222;
   text-decoration: none; 
   display: block; 
   padding: 0.7em 0;
}
.menu ul li a p {
   margin: 0;
   padding: 0;
   margin-left: 2em; 
}
.menu ul li a:hover p {
   margin-left: 2em;
   -webkit-transition: all .5s;
   -o-transition: all .5s;
   transition: all .5s;
}


.menu li:hover { box-shadow: 15em 0 rgba(52,152,219,.2)inset; }

.menu li:nth-child(1) a { padding-top: 1em; }
.menu li:last-child   a { padding-bottom: 1em; }
.menu li:nth-child(2) a { background-position: 0 -42px; }

.menu li:nth-child(3) a { background-position: 0 -84px; }

.menu li:nth-child(4) a { background-position: 0 -126px; }

.menu li:nth-child(5) a { background-position: 0 -168px; }

/*FIN MENUList*/
/*Posicion Responsive MenuList*/

 

.languages { 
  background-size:cover;
  cursor: pointer;
  right: 2em;
  height: 40px;
  position: fixed;
  top: 2em; 
  z-index: 30; 
  display: none;
}
.languages ul {
  margin:0;
  padding:0;
}
.languages ul li {
  display:inline-block;
}

/***

  Wrapper for move the content when the menu is shown.
**/

.mobile-wrapper {
  margin-left:0;
}

.mobile-wrapper-active {  
  margin-left:-150px;

  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
