body {
  background: #fff;
  font-size: 18px;
  font-family: Martel, georgia;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
a,
li,
ul {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
a {
  text-decoration: none;
  color: #222;
}
a:hover {
  background: #f4f4f4;
}
.loader {
  width: 100%;
  height: 100%;
  background: #fff url("../icons/loading.svg");
  background-repeat: no-repeat;
  background-size: 60px auto;
  background-position: 50% 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.close {
  color: #a7a6a6;
  background: #e7e7e7;
  display: inline-block;
  padding: 0.2em 0.5em;
}
.button,
.button-lightGrey {
  display: inline-block;
  margin-right: 0.7em;
}
.button:hover a,
.button-lightGrey:hover a {
  background: #dea7a7;
  color: #fff;
}
.button a,
.button-lightGrey a {
  font-size: 0.85em;
  padding: 0.4em 0.7em;
  color: #c39d9e;
  color: rgba(179,53,56,0.8);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px dashed #d2b4b5;
  display: block;
  text-decoration: none;
}
.button-lightGrey:hover a {
  background: #dea7a7;
  color: #fff;
}
.button-lightGrey a {
  border-color: #e6e6e6;
  color: #a7a7a7;
}
.title {
  font-size: 21px;
  margin: 0 0 20px 0;
  line-height: 36px;
}
@media all and (min-width: 600px) {
  .title {
    font-size: 26px;
  }
}
@media all and (min-width: 800px) {
  .title {
    font-size: 36px;
  }
}
.subtitle {
  font-size: 24px;
  margin: 0 0 20px 0;
  line-height: 24px;
  color: #b33538;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.paragraph {
  font-size: 18px;
}
@media all and (min-width: 600px) {
  .paragraph {
    font-size: 18px;
  }
}
@media all and (min-width: 800px) {
  .paragraph {
    font-size: 18px;
  }
}
.menuTop-navup {
  top: -75px !important;
}
.menuTop-down {
  top: 0 !important;
}
.menuTop {
  width: 100%;
  padding: 0;
  background: rgba(255,255,255,0.9);
  height: 75px;
  position: fixed;
  z-index: 100;
  rigth: 0;
  top: 0;
  transition: top 0.2s ease-in-out;
}
.menuTop-int {
  margin: 0;
  position: relative;
  height: 100%;
  text-align: right;
}
.menuTop-box {
  display: inline-block;
  height: 75px;
}
.menuTop-logo {
  width: 200px;
  height: 75px;
  margin: 0 auto;
  position: absolute;
  display: none;
  left: 0;
}
.menuTop-logo-image {
  height: 50px;
  margin-top: 0.7em;
  display: block;
  background: rgba(255,255,255,0.5);
  background: url("../images/logo.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media all and (min-width: 600px) {
  .menuTop-logo-image {
    height: 48px;
    margin-top: 0.8em;
  }
}
@media all and (min-width: 800px) {
  .menuTop-logo-image {
    height: 60px;
    margin-top: 0.5em;
  }
}
.menuTop-logo-text {
  display: none;
}
.menuTop-logo-subtext {
  font-size: 1em;
  line-height: 1em;
}
.menuTop-logo-shown {
  background: #f00;
  display: block !important;
}
.menuTop-contact {
  float: left;
  margin-left: 1em;
  padding: 1.3em 1em;
  margin-top: 0.65em;
  -webkit-box-shadow: inset 0px 0px 0px 3px #dbdbdb;
  -moz-box-shadow: inset 0px 0px 0px 3px #dbdbdb;
  box-shadow: inset 0px 0px 0px 3px #dbdbdb;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
@media all and (max-width: 600px) {
  .menuTop-contact {
    display: none;
  }
}
.menuTop-contact p {
  line-height: 0;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}
.menuTop-languages {
  margin: 0;
  padding: 0;
  display: block;
}
.menuTop-languages li {
  height: 100%;
  float: left;
  margin-left: 0.5em;
}
.menuTop-languages li a {
  padding: 1.5em 1em;
  margin-right: -1em;
  padding-bottom: 1em;
  display: block;
}
@media all and (max-width: 600px) {
  .menuTop-languages li a span {
    display: none;
  }
}
.menuTop-languages li a img {
  height: 16px;
  margin-right: 7px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.menuTop-button {
  width: 35px;
  height: 75px;
  z-index: 30;
  display: inline-block;
  cursor: pointer;
  padding-left: 1em;
  background-size: 40px auto;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-image: url("../icons/menu.svg");
  z-index: 1000;
  position: relative;
}
.menu {
  background: #2980b9;
  background: #dce3e8;
  position: fixed;
  right: -18em;
  top: 0;
  padding-top: 75px;
  box-sizing: border-box;
  z-index: 20;
  height: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.menu.active {
  right: 0;
}
.menu ul {
  width: 240px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: auto;
/*outline: 1px solid red;*/
  padding-left: 0;
}
.menu ul li {
  margin: 0;
  padding: 0;
}
.menu ul li {
  box-shadow: 3px 0 rgba(52,152,219,0.2) inset;
  margin-bottom: 5px;
  padding-left: 0.5em;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; /*outline: 1px solid green*/
}
.menu ul li a {
  width: 100%;
  background: url("menu.svg") no-repeat left top;
  color: #222;
  text-decoration: none;
  display: block;
  padding: 0.7em 0;
}
.menu ul li a p {
  margin: 0;
  padding: 0;
  margin-left: 2em;
}
.menu ul li a:hover p {
  margin-left: 2em;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.menu li:hover {
  box-shadow: 15em 0 rgba(52,152,219,0.2) inset;
}
.menu li:nth-child(1) a {
  padding-top: 1em;
}
.menu li:last-child a {
  padding-bottom: 1em;
}
.menu li:nth-child(2) a {
  background-position: 0 -42px;
}
.menu li:nth-child(3) a {
  background-position: 0 -84px;
}
.menu li:nth-child(4) a {
  background-position: 0 -126px;
}
.menu li:nth-child(5) a {
  background-position: 0 -168px;
}
.languages {
  background-size: cover;
  cursor: pointer;
  right: 2em;
  height: 40px;
  position: fixed;
  top: 2em;
  z-index: 30;
  display: none;
}
.languages ul {
  margin: 0;
  padding: 0;
}
.languages ul li {
  display: inline-block;
}
.mobile-wrapper {
  margin-left: 0;
}
.mobile-wrapper-active {
  margin-left: -150px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.container {
  padding: 1em 0;
}
@media all and (min-width: 600px) {
  .container {
    padding: 2em 0;
  }
}
@media all and (min-width: 800px) {
  .container {
    padding: 2em 0;
  }
}
.menuTop,
.container,
.footer {
  width: 100%;
  display: inline-block;
}
.menuTop-int,
.container-int,
.footer-int {
  margin: 0 1.5em;
  position: relative;
}
@media screen and (min-width: 600px) {
  .menuTop-int,
  .container-int,
  .footer-int {
    width: 550px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 800px) {
  .menuTop-int,
  .container-int,
  .footer-int {
    width: 750px;
    margin: 0 auto;
  }
}
.bigHeader {
  height: 200px;
  background-color: #e8edf1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../images/jorge_ferreiro_small.jpg");
  background-size: auto;
  background-size: cover;
  margin-top: 75px;
}
.bigHeader .container-int {
  height: 160px;
}
@media all and (min-width: 600px) {
  .bigHeader {
    height: 260px;
    background-image: url("../images/jorge_ferreiro_medium_NEW.jpg");
    background-position: 70% 50%;
  }
  .bigHeader .container-int {
    height: 190px;
    padding: 0;
  }
}
@media all and (min-width: 800px) {
  .bigHeader {
    height: 310px;
    background-size: auto;
  }
  .bigHeader .container-int {
    height: 210px;
    padding: 0;
  }
}
.bigHeader-logo {
  width: 200px;
  display: inline-block;
  left: 0;
  position: absolute;
  bottom: 0;
}
@media all and (max-width: 600px) {
  .bigHeader-logo {
    margin-left: -10px;
  }
}
@media all and (min-width: 600px) {
  .bigHeader-logo {
    width: 260px;
  }
}
@media all and (min-width: 800px) {
  .bigHeader-logo {
    width: 360px;
  }
}
.bigHeader-logo-image {
  height: 50px;
  margin-bottom: 0.3em;
  display: block;
  background: rgba(255,255,255,0.5);
  background: url("../images/logo.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media all and (min-width: 600px) {
  .bigHeader-logo-image {
    height: 48px;
  }
}
@media all and (min-width: 800px) {
  .bigHeader-logo-image {
    height: 60px;
    margin-bottom: 1em;
  }
}
.bigHeader-logo-text {
  display: none;
}
.bigHeader-logo-subtext {
  font-size: 1em;
  line-height: 1em;
}
@media all and (min-width: 800px) {
  .bigHeader-logo-subtext {
    font-size: 1.3em;
  }
}
.header {
  width: 100%;
  height: 75px;
  background: rgba(15,22,63,0.9);
  background: rgba(0,0,0,0.7);
  background: rgba(255,255,255,0.8);
  margin-top: 0;
  z-index: 10;
  position: fixed;
}
.header-int {
  margin: 0 1.5em;
  position: relative;
}
@media screen and (min-width: 600px) {
  .header-int {
    width: 550px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 800px) {
  .header-int {
    width: 750px;
    margin: 0 auto;
  }
}
.header-fixed {
  background: rgba(255,255,255,0.9);
  position: fixed;
  top: 0;
  margin-top: 0;
}
.header-logo {
  max-width: 200px;
  margin-top: 10px;
  display: inline-block;
}
.header-menu {
  height: 50px;
  display: inline-block;
  vertical-align: top;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}
.header-menu-separator {
  width: 1px;
  height: 100%;
  display: inline-block;
  background: #00f;
  vertical-align: top;
}
.header-menu .header-menu-language {
  margin-left: 0.5em;
}
.header-menu li {
  display: inline-block;
  position: relative;
  height: 100%;
  margin-left: 1em;
  vertical-align: top;
}
.header-menu li a {
  height: 100%;
  display: block;
  position: relative;
}
.header-menu li a p {
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.3em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header-menu li a p img {
  width: 20px;
  display: none;
}
.skills-block {
  background: #f4f4f4;
  border-top: 1px solid #e6eaec;
}
.skills {
  width: 100%;
  margin-bottom: 2em;
}
.skills-entry {
  width: 33.333%;
  display: inline-block;
  vertical-align: top;
  margin: 0.3em 0;
  margin-right: -4px;
}
@media all and (max-width: mobileWidth) {
  .skills-entry {
    width: 50%;
  }
}
@media all and (max-width: 600px) {
  .skills-entry {
    width: 50%;
  }
}
.skills-entry-logo {
  display: inline-block;
  margin-right: 0.8em;
  width: 40px;
  height: 40px;
}
.skills-entry-logo img {
  width: 40px;
}
.skills-entry-text {
  margin: 0;
  margin-right: 1em;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
.projects {
  width: 100%;
  margin-bottom: 2em;
  margin-left: -0.3em;
}
.projects-entry {
  width: 33.333%;
  display: inline-block;
  vertical-align: top;
  margin: 0.3em 0;
  margin-right: -4px;
}
@media all and (max-width: 799px) {
  .projects-entry {
    width: 50% !important;
  }
}
@media all and (max-width: 450px) {
  .projects-entry {
    width: 100% !important;
  }
}
.projects-entry-int {
  margin: 0 0.5em;
}
.projects-entry-logo {
  width: 100%;
  height: 155px;
  background: #f3f3f3;
  display: inline-block;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.projects-entry-logo a {
  width: 100%;
  height: 100%;
  display: block;
}
.projects-entry-logo img {
  width: 100%;
}
@media all and (max-width: 450px) {
  .projects-entry-logo img {
    margin-top: -3%;
  }
}
.projects-entry-title {
  font-size: 1em;
  margin-top: 1em;
  line-height: 1em;
}
.projects-entry-title a {
  color: #0a435d;
}
.projects-entry-subtitle {
  font-size: 0.8em;
  margin-top: 0.2em;
}
.projects-entry-date {
  font-size: 0.6em;
  margin-top: 0.2em;
}
.projects-entry-info {
  margin: 0;
  font-size: 0.8em;
  margin-top: 0.2em;
}
.projects-entry-link {
  margin-top: 1em;
  font-size: 0.8em;
  padding: 0.3em 0.5em;
  background: #f4f4f4;
  display: inline-block;
}
.projects-entry-link a {
  color: #0a435d;
}
.contact {
  background: #fff;
  background: #e6eaec;
  background: rgba(244,141,101,0.65);
  border-top: 1px solid #e6eaec;
  background: transparent;
  background: #f4f4f4;
  padding: 3em 0;
}
.contactBox-rounds {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-bottom: 1em;
}
.contactBox-rounds-box {
  width: 100px;
  height: 100px;
  background: rgba(0,65,126,0.5);
  background: rgba(179,53,53,0.8);
  display: inline-block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  margin: 0 -0.6em;
}
.contactBox-rounds-box img {
  width: 50%;
  margin-top: 1.4em;
  color: #fff;
}
.contactBox-coffeSkype {
  width: 100%;
  margin-top: 2em;
  vertical-align: top;
}
.contactBox-coffeSkype-coffee {
  background-color: rgba(179,130,76,0.8);
}
.contactBox-coffeSkype-coffee p:before {
  content: '¿Eres más de tomar algo...?';
}
.contactBox-coffeSkype-coffee:hover {
  background-color: rgba(179,130,76,0.8);
}
.contactBox-coffeSkype-coffee:hover p:before {
  content: 'Soy más de tomar algo...';
}
.contactBox-coffeSkype-skype {
  background: rgba(179,53,53,0.8);
}
.contactBox-coffeSkype-skype p:before {
  content: '¿...O te va más el rollo skype?';
}
.contactBox-coffeSkype-skype:hover {
  background: rgba(179,53,53,0.8);
}
.contactBox-coffeSkype-skype:hover p:before {
  content: '...me va más el rollo skype';
}
.contactBox-coffeSkype a {
  width: 47%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -ms-transform: scale(1, 1); /* IE 9 */
  -webkit-transform: scale(1, 1); /* Safari */
  transform: scale(1, 1);
  -webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0 */
  transition: all 0.3s;
}
@media all and (max-width: 800px) {
  .contactBox-coffeSkype a {
    width: 100%;
    margin-bottom: 1.5em;
  }
  .contactBox-coffeSkype a:last-child {
    margin-bottom: 0;
  }
}
.contactBox-coffeSkype a:hover {
  -ms-transform: scale(1.2, 1.2); /* IE 9 */
  -webkit-transform: scale(1.2, 1.2); /* Safari */
  transform: scale(1.2, 1.2);
}
.contactBox-coffeSkype a p {
  margin-top: 1.6em;
  color: #fff;
}
.contactBox-coffeSkype span {
  width: 4.5%;
  display: inline-block;
  vertical-align: top;
  font-family: arial;
  margin-top: 1.6em;
  text-align: center;
  color: rgba(0,0,0,0.3);
}
@media all and (max-width: 799px) {
  .contactBox-coffeSkype span {
    display: none;
  }
}
.messageSent {
  background: #539a53;
  width: 100%;
  text-align: center;
  display: none;
  z-index: 200;
  padding: 1em 0;
  margin-top: 1.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.messageSent-warning {
  background: #e81f1f;
}
.messageSent .whiteBackground {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  content: '';
  background: rgba(255,255,255,0.6);
}
.messageSent p {
  margin: 0 1.5em;
  color: #fff;
}
.contactLoader {
  width: 100%;
  height: 100px;
  background: url("../icons/loading.svg");
  background-repeat: no-repeat;
  background-size: 60px auto;
  background-position: 50% 50%;
  z-index: 1000;
  display: none;
}
.contactFieldset {
  width: 100%;
  position: relative;
  margin-bottom: 1em;
  padding: 0;
  border: 0;
}
.contactFieldset-label {
  width: 100px;
  display: inline-block;
  text-align: left;
  float: left;
}
.contactFieldset-input {
  padding: 0.5em 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  outline: 0;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
@media all and (max-width: 800px) {
  .contactFieldset-input {
    padding-left: 0;
    text-indent: 20px;
    padding-right: 0;
    width: 100% !important;
  }
}
@media all and (min-width: 600px) {
  .contactFieldset-input {
    width: 400px !important;
  }
}
@media all and (min-width: 800px) {
  .contactFieldset-input {
    width: 600px !important;
  }
}
.contactFieldset-input:focus {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(50,50,50,0.4);
  -moz-box-shadow: 0px 0px 3px 0px rgba(50,50,50,0.4);
  box-shadow: 0px 0px 3px 0px rgba(50,50,50,0.4);
}
.contactFieldset-unified {
  min-width: 300px;
}
@media all and (min-width: 800px) {
  .contactFieldset-unified {
    width: 635px !important;
    margin-right: 0 !important;
  }
}
.contactFieldset-select {
  margin-right: 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
  border: 0;
  background: #fff;
}
@media all and (max-width: 600px) {
  .contactFieldset-select {
    padding-left: 0;
    text-indent: 20px;
    padding-right: 0;
    margin-bottom: 1em;
    width: 100% !important;
  }
}
@media all and (min-width: 800px) {
  .contactFieldset-select {
    width: 200px;
    height: 48px;
    text-indent: 15px;
  }
}
.contactFieldset-select:focus {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(50,50,50,0.4);
  -moz-box-shadow: 0px 0px 3px 0px rgba(50,50,50,0.4);
  box-shadow: 0px 0px 3px 0px rgba(50,50,50,0.4);
}
.contactFieldset-submit {
  border: 0;
  color: #fff;
  background: #b33538;
  padding: 0.5em 1.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: 1.5em;
  outline: 0;
}
.contactFieldset-submit:hover {
  background: #ca4548;
}
.contactFieldset-submit:focus {
  background: #9c292c;
}
.footer-left {
  display: inline-block;
}
.footer-right {
  float: right;
}
.footer-right p {
  display: inline-block;
  margin-left: 1em;
}
.footer-middle {
  width: 100%;
  border-top: 1px solid #eaeaea;
  text-align: center;
  display: inline-block;
}
