// Contact
.contact
	background:#fff;
	background:#E6EAEC;
	background:#f4f4f4;
	border-top:1px solid #E6EAEC;
	&Box
		&-rounds
			width:100%;
			display:inline-block;
			text-align:center;
			&-box
				width:80px;
				height:80px;
				background:rgba(0,65,126,0.5);
				display:inline-block;
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				border-radius: 100%;
	