 
.projects
	width:100%; 
	margin-bottom:2em;
	margin-left:-0.3em;

	// <li>
	&-entry
		width:33.333%;
		display:inline-block;
		vertical-align:top;
		margin:0.3em 0;
		margin-right:-4px; 

		&-int
			margin:0 0.5em;
		&-logo
			width:100%;
			height:140px;
			background:#F3F3F3;
			display:inline-block; 
			a
				width:100%;
				height:100%;
				display:block;
			img
				width:100%;
		&-title
			font-size:1em; 
			margin-top:1em;
			line-height:1em;
			a
				color:#0A435D;
		&-subtitle
			font-size:0.8em;
			margin-top:0.2em; 
		&-info
			margin:0;
			font-size:0.8em;
			margin-top:0.2em; 
		&-link 
			margin-top:1em; 
			font-size:0.8em; 
			padding:0.3em 0.5em;
			background:#f4f4f4;
			display:inline-block;
			a
				color:#0A435D;
