doctype html5
html(lang="es")
	head
		title Menu
		meta(charset="utf-8")
		meta(name="vierport", content="width=device-width")
		link(href='estilos.css', rel='stylesheet')
	body
		#mostrar-nav
		nav
			ul.menu
				li
					a(href="#") Nosotros
				li
					a(href="#")	Carta
				li
					a(href="#")	Barra
				li
					a(href="#") Reservas
				li
					a(href="#") Blog
				li
					a(href="#") Contacto
	header
		h1 Menú vertical 100% responsive
	article
		p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi itaque reprehenderit assumenda, quaerat et optio. Alias deleniti at quos laborum. Quos sit, culpa corporis vitae.
		p    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam ex ut tenetur nemo dicta in quo odit aliquid sapiente dolorum quos vel aspernatur blanditiis natus rem eos voluptas, odio voluptates! Quos aspernatur vel nulla reprehenderit esse veritatis numquam libero deserunt, iste iure nemo ad.
	footer
		a(href="#" target "_blank" title="Jhon Jairo Cruz") Acerca de
	
	script(src="http://code.jquery.com/jquery-1.11.3.min.js")
	script(src="mostrar_nav.js")